<div class="container-fluid" style="height: 100vh;">
    <app-page-title title="Flujo Futuro" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="slider-container">
      <ngx-slider
          [(value)]="value"
          [options]="options"
          (userChangeEnd)="onSliderChange($event)"
          >
      </ngx-slider>
      <div class="slider-labels">
        <span></span>
        <span>Tiempo futuro (mins)</span>
        <span></span>
      </div>
   </div>
    <div class="row">
      <google-map id="map" #mapInstance="googleMap" height="100%" width="100%" [options]="mapOptions">      
      </google-map>  
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>