<div class="container-fluid">
  <app-page-title title="Orders" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" placeholder="Buscar por cliente..."
                         [(ngModel)]="service.searchTerm">
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-8">

            </div><!-- end col-->
          </div>

          <!-- Table data -->
          <div class="table-responsive mb-0">
            <table class="table table-centered table-nowrap">
              <thead class="table-light">
              <tr>
                <th class="align-middle">ID</th>
                <th class="align-middle">Nombre intersecion</th>
                <th class="align-middle">Avenida</th>
                <th class="align-middle">Direcion</th>
                <th class="align-middle">cantidad</th>
                <th class="align-middle">fecha</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let data of trafficFlow" id="o_{{data.id}}">
                <td>
                  <a href="javascript: void(0);" class="text-body fw-bold">{{data.id}}</a>
                </td>
                <td>{{data.laneGroup.intersection?.name}}</td>
                <td>{{data.laneGroup?.avenue?.name}}</td>
                <td>{{data.laneGroup?.direction}}</td>
                <td>{{data.vehicleCount}}</td>
                <td>{{data.timestamp  | date:'short'}}</td>

              </tr>
              </tbody>
            </table>
          </div>
          <!-- end table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                {{service.startIndex}} to
                {{service.endIndex}} of {{service.totalRecords}}
                entries
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end  ">
                <ngb-pagination [collectionSize]="total | async" [(page)]="service.page" [pageSize]="service.pageSize"
                                [maxSize]="8">
                </ngb-pagination>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
