<div class="container-fluid">
    <app-page-title title="Orders" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <div class="search-box me-2 mb-2 d-inline-block">
                                <div class="position-relative">
                                    <input type="text" class="form-control" placeholder="Buscar por cliente..."
                                           [(ngModel)]="service.searchTerm">
                                    <i class="bx bx-search-alt search-icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="text-sm-end">
                                <button type="button" class="btn btn-success btn-rounded mb-2 me-2" (click)="openModal(content)"><i
                                        class="mdi mdi-plus mr-1"></i>
                                    Nuevo</button>
                            </div>
                        </div><!-- end col-->
                    </div>

                    <!-- Table data -->
                    <div class="table-responsive mb-0">
                        <table class="table table-centered table-nowrap">
                            <thead class="table-light">
                            <tr>
                                <th class="align-middle">ID</th>
                                <th class="align-middle">Nombre intersecion</th>
                                <th class="align-middle">Avenida</th>
                                <th class="align-middle">Direcion</th>
                                <th class="align-middle">Capacidad</th>
                                <th class="align-middle">Numero carriles</th>
                                <th class="align-middle">Acción</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let data of laneGroup" id="o_{{data.id}}">
                                <td>
                                    <a href="javascript: void(0);" class="text-body fw-bold">{{data.id}}</a>
                                </td>
                                <td>{{data.intersection?.name}}</td>
                              <td>{{data.avenue.name}}</td>
                              <td>{{data.direction}}</td>
                                <td>{{data.capacity}}</td>
                                <td>{{data.numLanes}}</td>
                                <td>
                                    <div class="d-flex gap-3">
                                        <a href="javascript:void(0);" class="text-success" (click)="editDataGet(data.id,content)"><i
                                                class="mdi mdi-pencil font-size-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger" (click)="delete(data.id)"><i
                                                class="mdi mdi-delete font-size-18"></i></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- end table -->
                    <div class="row justify-content-md-between align-items-md-center mt-2">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                                {{service.startIndex}} to
                                {{service.endIndex}} of {{service.totalRecords}}
                                entries
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="col-sm-12 col-md-5">
                            <div class="text-md-right float-md-end  ">
                                <ngb-pagination [collectionSize]="total | async" [(page)]="service.page" [pageSize]="service.pageSize"
                                                [maxSize]="8">
                                </ngb-pagination>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<!-- Order Create Model -->
<ng-template #content role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo grupo de carriles</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
                (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form (ngSubmit)="saveUser()" [formGroup]="laneGroupForm">
        <div class="modal-body">
            <input type="text" hidden formControlName="id" value="0" />

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="customername-field" class="form-label">Interseccion</label>
                        <ng-select [items]="intersection" bindLabel="name" placeholder="Seleccione interseccion"
                                   [(ngModel)]="selectIntersection" id="customername-field" [clearable]="false" required
                                   formControlName="intersection"
                                   [ngClass]="{ 'is-invalid': submitted && form['intersection'].errors }">
                        </ng-select>
                        <div *ngIf="submitted && form['intersection'].errors" class="invalid-feedback" align="left">
                            <div *ngIf="form['intersection'].errors['required']">Intersecion es requerido</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="customername-field" class="form-label">Avenida</label>
                        <ng-select [items]="avenue" bindLabel="name" placeholder="Seleccione Avenida"
                                   [(ngModel)]="selectAvenue" id="customername-field" [clearable]="false" required
                                   formControlName="avenue"
                                   [ngClass]="{ 'is-invalid': submitted && form['avenue'].errors }">
                        </ng-select>
                        <div *ngIf="submitted && form['avenue'].errors" class="invalid-feedback" align="left">
                            <div *ngIf="form['avenue'].errors['required']">Avenida es requerido</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="customername-field" class="form-label">Direccion</label>
                        <input type="text" id="customername-field" class="form-control" formControlName="direction"
                               autocomplete="disabled" />
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="customername-field" class="form-label">Capacidad</label>
                        <input type="number" id="customername-field" class="form-control" formControlName="capacity"
                               autocomplete="disabled" />
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">

                    <div class="mb-3">
                        <label for="customername-field" class="form-label">Numero carriles</label>
                        <input type="number" id="customername-field" class="form-control" formControlName="numLanes"
                               autocomplete="disabled" />
                    </div>

                </div>

            </div>


        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                        (click)="modal.close('Close click')">Cancelar</button>
                <button type="submit" class="btn btn-success" id="add-btn">Registrar</button>
            </div>
        </div>
    </form>
</ng-template>
<!--End Modal -->
