<div class="container-fluid">
  <app-page-title title="Orders" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" placeholder="Buscar por cliente..."
                         [(ngModel)]="service.searchTerm">
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-end">
                <button type="button" class="btn btn-success btn-rounded mb-2 me-2" (click)="openModal(content)"><i
                  class="mdi mdi-plus mr-1"></i>
                  Nuevo</button>
              </div>
            </div><!-- end col-->
          </div>

          <!-- Table data -->
          <div class="table-responsive mb-0">
            <table class="table table-centered table-nowrap">
              <thead class="table-light">
              <tr>
                <th class="align-middle">ID</th>
                <th class="align-middle">Nombre intersecion</th>
                <th class="align-middle">Estado</th>
                <th class="align-middle">Latitude</th>
                <th class="align-middle">longitude</th>
                <th class="align-middle">Marca</th>
                <th class="align-middle">Tiempo rojo</th>
                <th class="align-middle">Tiempo verde</th>
                <th class="align-middle">Acción</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let data of trafficLight" id="o_{{data.id}}">
                <td>
                  <a href="javascript: void(0);" class="text-body fw-bold">{{data.id}}</a>
                </td>
                <td>{{data.intersection?.name}}</td>
                <td>{{data.status}}</td>
                <td>{{data.latitude}}</td>
                <td>{{data.longitude}}</td>
                <td>{{data.brand}}</td>
                <td>{{data.redTime}}</td>
                <td>{{data.redGreen}}</td>
                <td>
                  <div class="d-flex gap-3">
                    <a href="javascript:void(0);" class="text-success" (click)="editDataGet(data.id,content)"><i
                      class="mdi mdi-pencil font-size-18"></i></a>
                    <a href="javascript:void(0);" class="text-danger" (click)="delete(data.id)"><i
                      class="mdi mdi-delete font-size-18"></i></a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- end table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                {{service.startIndex}} to
                {{service.endIndex}} of {{service.totalRecords}}
                entries
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end  ">
                <ngb-pagination [collectionSize]="total | async" [(page)]="service.page" [pageSize]="service.pageSize"
                                [maxSize]="8">
                </ngb-pagination>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>


<!-- Order Create Model -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Nuevo semaforo</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form (ngSubmit)="saveUser()" [formGroup]="trafficLightForm">
    <div class="modal-body">
      <input type="text" hidden formControlName="id" value="0" />


      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="customername-field" class="form-label">Interseccion</label>
            <ng-select [items]="intersection" bindLabel="name" placeholder="Seleccione interseccion"
                       [(ngModel)]="selectIntersection" id="customername-field" [clearable]="false" required
                       formControlName="intersection"
                       [ngClass]="{ 'is-invalid': submitted && form['intersection'].errors }">
            </ng-select>
            <div *ngIf="submitted && form['intersection'].errors" class="invalid-feedback" align="left">
              <div *ngIf="form['intersection'].errors['required']">Intersecion es requerido</div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">

          <div class="mb-3">
            <label for="customername-field" class="form-label">Estado</label>
            <input type="text" id="customername-field" class="form-control" required formControlName="status"
                   [ngClass]="{ 'is-invalid': submitted && form['status'].errors }" autocomplete="disabled" />
            <div *ngIf="submitted && form['status'].errors" class="invalid-feedback" align="left">
              <div *ngIf="form['status'].errors['required']">estado es requerido</div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-3">
            <label for="customername-field" class="form-label">latitude</label>
            <input type="text" id="customername-field" class="form-control" required formControlName="latitude"
                   [ngClass]="{ 'is-invalid': submitted && form['latitude'].errors }" autocomplete="disabled" />
            <div *ngIf="submitted && form['latitude'].errors" class="invalid-feedback" align="left">
              <div *ngIf="form['latitude'].errors['required']">latitude social es requerido</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-6">
          <div class="mb-3">
            <label for="customername-field" class="form-label">longitude</label>
            <input type="text" id="customername-field" class="form-control" formControlName="longitude"
                    autocomplete="disabled" />
          </div>

        </div>

        <div class="col-md-6">
          <div class="mb-3">
            <label for="customername-field" class="form-label">brand</label>
            <input type="text" id="customername-field" class="form-control" formControlName="brand"
                   autocomplete="disabled" />
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6">

          <div class="mb-3">
            <label for="customername-field" class="form-label">Tiempo rojo</label>
            <input type="number" id="customername-field" class="form-control" formControlName="redTime"
                   autocomplete="disabled" />
          </div>

        </div>

        <div class="col-md-6">
          <div class="mb-3">
            <label for="customername-field" class="form-label">Tiempo verde</label>
            <input type="number" id="customername-field" class="form-control" formControlName="redGreen"
                   autocomplete="disabled" />
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <app-map-picker [latitude]="trafficLightForm.controls['latitude'].value"
                          [longitude]="trafficLightForm.controls['longitude'].value"
                          (locationSelected)="updateLocation($event)"> </app-map-picker>
        </div>
      </div>


    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                (click)="modal.close('Close click')">Cancelar</button>
        <button type="submit" class="btn btn-success" id="add-btn">Registrar</button>
      </div>
    </div>
  </form>
</ng-template>
<!--End Modal -->
