.card {
  margin-bottom: 0px !important;
  box-shadow: none !important;
}

.card-body,
.modal-body {
  padding-bottom: 0px !important;
}

.modal-body {
  height: 42.688em !important;
}

.custom {
  color: #FFFFFF;
  background-color: #283046;
  border-color: #0c102a;
}

.btn.btn-sm {
  font-size: 0.8rem;
  padding: 0.4rem 0.65rem;
}


