<div class="container-fluid" style="height: 100vh;">
  <app-page-title title="Google Maps" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <google-map id="map" #mapInstance="googleMap" height="100%" width="100%" [options]="mapOptions">
        <map-marker #marker="mapMarker" *ngFor="let markerr of markers" 
        [position]="markerr.position" [title]="markerr.title" 
        [icon]="markerr.icon" (mapClick)="openInfo(marker)">
        </map-marker>
        <map-info-window #infoWindow="mapInfoWindow" [options]="{content: infoContent}"> </map-info-window> 
    </google-map>

    <!-- end col -->
  </div>
  <!-- end row -->
</div>